.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .input-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;

    input {
      flex-grow: 1;
    }
  }
}
